.wp-block-wecodeart-tabs {
    --wp--tabs-border-color: var(--wp--preset--color--accent);
    --wp--tabs-border-width: 1px;
    --wp--tabs-border-radius: 5px;
    --wp--tabs-body-padding-x: 1.25rem;
    --wp--tabs-body-padding-y: 1rem;
    --wp--tabs-active-background: var(--wp--preset--color--accent);
    --wp--tabs-active-color: currentColor;

    &.is-horizontal {
        flex-wrap: nowrap;
    }

    &.is-style-mobile-vertical {
        @media screen and (max-width: 640px) {
            flex-wrap: wrap;

            .wp-block-wecodeart-tabs-nav {
                --scroll-shadow-color: var(--wp--preset--color--accent);
                --scroll-shadow-size: 1rem;
                --scroll-shadow-spread: calc(-0.5 * var(--scroll-shadow-size));
                max-width: 100%;
                flex-direction: row;
                justify-content: flex-start;
                white-space: nowrap;
                overflow-x: auto;
                animation-timeline: scroll(self x);
                animation-name: scroll-shadow-inset;
                animation-timing-function: linear;
            } 

            .wp-block-wecodeart-tabs-panels { 
               flex: 0 0 100%; 
            }
        }
    }

    &-nav {
        flex: none;
        border: var(--wp--tabs-border-width) solid var(--wp--tabs-border-color);
        border-radius: var(--wp--tabs-border-radius);
        overflow: hidden;

        &.is-content-justification-center {
            justify-content: center;
        }

        &.is-content-justification-right {
            justify-content: flex-end;
        }

        &.is-content-justification-stretch {
            justify-content: stretch;
        }

        &-item,
        .wp-element-button {
            background-color: transparent;
            padding: var(--wp--tabs-body-padding-y) var(--wp--tabs-body-padding-x);
            font-size: inherit;
            font-weight: inherit;
            white-space: nowrap;
            line-height: 1.2;

            &:is(:hover, :focus) {
                background-color: var(--wp--preset--color--accent);
            }
        }

        &-item {
            &:not(.collapsed) {
                background-color: var(--wp--tabs-active-background);
                color: var(--wp--tabs-active-color);
            }
        }
    }

    &-panels {
        flex: 0 1 100%;
        border: var(--wp--tabs-border-width) solid var(--wp--tabs-border-color);
        border-radius: var(--wp--tabs-border-radius);
    }

    &-panel {
        padding: var(--wp--tabs-body-padding-y) var(--wp--tabs-body-padding-x);
        
        .theme-wecodeart & {
            display: none;
        }
        
        &.collapsing {
            display: none;
            opacity: 0;
            width: initial!important;
            height: initial!important;
        }

        &.show {
            display: block;
        }
    }
}

@keyframes scroll-shadow-inset {
    from {
        box-shadow: 
            inset calc(-2 * var(--scroll-shadow-size)) 0 var(--scroll-shadow-size) var(--scroll-shadow-spread) var(--scroll-shadow-color), 
            inset 0 0 var(--scroll-shadow-size) var(--scroll-shadow-spread) var(--scroll-shadow-color);
    }

    10%,
    90% {
        box-shadow: 
            inset calc(-1 * var(--scroll-shadow-size)) 0 var(--scroll-shadow-size) var(--scroll-shadow-spread) var(--scroll-shadow-color), 
            inset var(--scroll-shadow-size) 0 var(--scroll-shadow-size) var(--scroll-shadow-spread) var(--scroll-shadow-color);
    }

    to {
        box-shadow:
            inset 0 0 var(--scroll-shadow-size) var(--scroll-shadow-spread) var(--scroll-shadow-color), 
            inset calc(2 * var(--scroll-shadow-size)) 0 var(--scroll-shadow-size) var(--scroll-shadow-spread) var(--scroll-shadow-color);
    }
}